* {
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100vw;
    overflow-x: hidden;
    font-family: "Josefin Sans", sans-serif;
    background: #00B4DB;
    background: radial-gradient(
        to right,
        #00B4DB,#0083B0
    );
}

button {
    padding: .7em 1.5em;
    border-radius: 10px;
    border: none;
}

#title {
    font-size: 2.2em;
    margin: .8em 0 .4em 0;
    text-align: center;
    color: #1A2130;
}

.todo-list-container {
    width: 65vw;
    background-color: #ECEDE9;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.input-row {
    width: 100%;
    padding: 1.3em 0;
    display: flex;
    justify-content: space-between;
}

#todo-task {
    width: 70%;
    font-size: .8em;
    margin-left: 1.3em;
    padding: .8em 1.2em;
    outline: none;
    color: #1A2130;
    background: #e8e8e8;
    box-shadow: 5px 5px 17px #b6b5b5,
        -5px -5px 17px #ffffff;
    border: 1px solid #B7B7A4;
    border-radius: 10px;
    transition: all .5s;
}

#todo-task:focus {
    background: #e8e8e8;
    box-shadow: inset 5px 5px 17px #c8c8c8,
        inset -5px -5px 17px #ffffff;
}

#add-task {
    width: 9em;
    background-color: #2c698d;
    background-color: #2A9D8F;
    background-color: #118AB2;
    background-color: #0582CA;
    color: #1A2130;
    font-weight: 600;
    margin: 0 1.3em;
    transition: all .5s;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
        rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#add-task:active {
    transform: scale(1.1);
}

.task-rows {
    width: 100%;
    color: #ffffff;
    font-size: 1em;
    height: 70vh;
    max-height: 100%;
    overflow-y: scroll;
}

.task-rows::-webkit-scrollbar {
    width: .5em;
    height: .5em;
    background-color: #f5f5f5;
}

.task-rows::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 10px;
}

.task-rows::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.task-rows::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 10px;
}

#task-table {
    width: 100%;
    table-layout: fixed;
}

#table-head {
    background-color: #14213D;
    padding: .8em 1em;
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-align: center;
}

#task-body {
    width: 100%;
}

.table-item {
    padding: .5em 1em;
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    color: #1A2130;
    border-bottom: 1px solid #272643;
}

.item-no {
    width: 2em;
    align-content: center;
}

.item {
    width: 15em;
    padding: 0 .6em;
    overflow: hidden;
    word-break: break-all;
    align-content: center;
}

.item-status {
    width: 7em;
    align-content: center;
}

.item-btns {
    width: 10em;
    align-content: center;
}

.delete-btn {
    background-color: #D62828;
    background-color: #DC2F02;
    font-weight: 600;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.delete-btn:active {
    transform: scale(.9);
}

.edit-btn {
    background-color: #FCA311;
    font-weight: 600;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.edit-btn:active {
    transform: scale(.9);
}

footer {
    font-size: .8em;
    text-align: center;
    margin: 1em 0;
}
